# Ignore bin and obj
/bin
/obj
/debug

**.swp
**.orig

# Include only settings, launch and tasks
/.vscode/*
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json

/project.lock.json
/project.json

/LLVM Language Reference Manual — LLVM 5 documentation*